/*General styling*/
body{
    font-family: 'Times New Roman', Times, serif;
}

/*Styling the menus*/
header{
    
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

nav{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul{
    display: flex;
    width: 50%;
}

li{
    
    list-style-type: none;
    margin-left: 2%;
    margin-right: 1%;
    padding: 2%;
}

a{
   text-decoration: none;
   color: black;
}

a:hover{
    text-decoration: underline;
}

#blue-button{
    background-color: rgba(53, 111, 219, 0.582);
    padding: 2%;
}

.white-text{
    color: white;
}

.white-text:hover{
    text-decoration: none;
}



.lef-menu{
    justify-content: start;
}

.right-menu{
    justify-content: right;
}

/*Styling the main content*/


section{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}



img{
    width: 22%;
    margin-left: 4%;
}

/*Styling the form*/
form{
    width: 50%;
}

.input-icons{
    position: relative;
}

input[type="text"]{
    margin: 3%;
    margin-left: 10%;
    width: 75%;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 7%;
}



.input-icons .fa-search{
    position: absolute;
    left: 10%;
    top: 20%;
    padding: 2% 2%;
    margin-right: 1%;
}

.input-icons .fa-microphone{
    position: absolute;
    left:90%;
    top: 19%;
    padding: 2% 2%;
    margin-right: 2%; 
}


  
#search:hover{
    box-shadow: 2px -2px 2px 2px lightgrey;
}

.main-div-link{
    display: flex;
    justify-content: space-around;
    margin-left: 4%;
    width: 30%;
}

.link{
    padding: 3%;
    margin-left: 3%;
    background-color: rgb(245, 238, 238); 
    border-radius: 5px;
}

.link:hover{
    border: 1px solid lightgrey;
}

.languages{
    padding: 2%;
    margin-left: 2.7%;
}

#id-languages{
    color: blue;
}

/*Styling the footer*/
footer{
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#footer-top{
    padding: 1%;
}

.text-color-footer{
    color: rgb(99, 99, 99);
}

hr{
    border: 1px solid rgb(99, 99, 99);
}